* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* html {
  font-size: calc(100vw / 10);
} */

body {
  /* background-color: #f9faf9; */
  background-color: #f5f5f5;
}
